@model proj.Models.Materialsetup
@{
    ViewData["Title"] = "Material setup";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Category and Subcategory</title>
    <link rel="stylesheet" href="~/css/materialSetup.css">
</head>
<body>
    <div class="text-center">
        <h2>Create Material Setup</h2>
    </div>
    <form asp-controller="MaterialSetup" asp-action="Create" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="Category">Category</label>
            <input type="text" class="custom-input" id="Category" name="Category"  />
        </div>
        <div class="form-group">
            <label for="Sub_Category">Sub_Category</label>
            <input type="text" class="custom-input" id="Sub_Category" name="Sub_Category" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
