@model proj.Models.UserSetup
@{
    ViewData["Title"] = "Edit";
}
<form asp-controller="UserSetup"  asp-action="Edituser" class="form-horizontal">
    <div class="form-group">
        <label class="control-label">UserName</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">ConfirmPassword</label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">LoginType</label>
        <input asp-for="LoginType" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Active</label>
        <select asp-for="Active" class="form-control" required>
            <option value="true">Y</option>
            <option value="false">N</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>